<% @title="Home" %>
<div class="articles-search">
    <%= form_tag articles_path, class: "form-inline", method: :get do %>
      <div class="input-group">
        <%= text_field_tag :query, params[:query], class: 'form-control', id: 'article_search', autocomplete: 'off' %>
        <%= submit_tag 'Search', class: 'btn btn-primary' %>
      </div>
    <% end %>
</div>
<hr />
<div class="row">
  <div class="col-md-10">
<% @articles.each do |article| %>
  <h3><%= article.title %></h3>
  <% unless article.description.blank? %>
  <p>
    <%= article.description %>
  </p>
  <% end %>
  <%= link_to 'Read more..', article.title.downcase.gsub!(' ', '-') %>
  <p>
    <%=
      markdown(article.body)
    %>
  </p>
  <small>Published <%= time_ago_in_words article.published_at %> ago</small>

<% end %>
  </div>
  <div class="col-md-2">
    <div class="img-div">
      <img src="/assets/JJ_avatar_01.jpg" />
    </div>
    <div class="about-me">
    I am a software developer currently working for ASML Veldhoven. I have a passion for the field of big data, pattern recognition and ubiquitous computing.
    </div>
    <div class="social-block">
      <center>
    		<a href="http://www.facebook.com/jitsejan" target="blank"><i class="fa fa-facebook fa-2x"></i></a>
    		<a href="http://www.flickr.com/photos/jitsejan/" target="blank"><i class="fa fa-flickr fa-2x"></i></a>
    		<a href="http://youtube.com/JQadrad" target="blank"><i class="fa fa-youtube fa-2x"></i></a>
    		<a href="https://play.spotify.com/user/jitsejan" target="blank"><i class="fa fa-spotify fa-2x"></i></a>
    		<a href="http://nl.linkedin.com/pub/jitsejan" target="blank"><i class="fa fa-linkedin fa-2x"></i></a>
    	</center>
    </div>
  </div>
</div>
